<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@develop.talk4free.com:1521/ddb" />
				<property name="username" value="msun" />
				<property name="password" value="Jordan23*" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper class="com.magicjack.webservice.iristel.dao.mapper.CreatePonsRequestMapper" />
		<mapper class="com.magicjack.webservice.iristel.dao.mapper.MyMapper" />
	</mappers>
</configuration> 